PORT=3000
TCP_PORT=4001
MONGODB_URI=mongodb://127.0.0.1:27017/nest-boilerplate
JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
